{% extends "shots/base.html" %}
{% load static %}
{% block top %}
<h1>
  <a href=" {% url 'shot-detail' shot.pk %}?{{ request.GET.urlencode }} " style="color:#00629B">Shot {{shot.num}}</a>

  {% if previous_shot %}
      <a href="{{ previous_url }}" style="color:#13294b;">&laquo;</a>
  {% endif %}

  {% if next_shot %}
      <a href="{{ next_url }}" style="color:#13294b;">&raquo;</a>
  {% endif %}
</h1>
{% endblock top %}
{% block images %}
<div class="container-2">
{% for image in shot.xuvImage.all %}
  <div>
    <h3>XUV Camera {{image.num}}</h3>
    <img src="{{image.image.url}}" class="summary-image">
  </div>
{% endfor %}
{% for image in shot.schlieren.all %}
  <div>
    <h3>Schlieren {{image.num}}</h3>
    <img src="{{image.image.url}}" class="summary-image">
  </div>
{% endfor %}
</div>
<div class="container-3">
  <div>
    {% for image in shot.scopePlots.all %}
    <div>
      <img src="{{image.current.url}}" class='summary-image'>
    </div>
    {% endfor %}
  </div>
  <div>
    <table class='table table-bordered' style="color:#13294b;">
      <tr>
        {% if shot.gasConfig.outer and shot.gasConfig.inner %}
          <th>OL Gas</th>
          <th>OL Press</th>
          <th>OL Time</th>
          <th>IL Gas</th>
          <th>IL Press</th>
          <th>IL Time</th>
        {% elif shot.gasConfig.inner or shot.gasConfig.outer %}
          <th>Liner Gas</th>
          <th>Liner Press</th>
          <th>Liner Time</th>
        {% endif %}
        {% if shot.gasConfig.target %}
          <th>CJ Gas</th>
          <th>CJ Press</th>
          <th>CJ Time</th>
        {% endif %}
      </tr>
      <tr>
        {% if shot.gasConfig.outer %}
          <td>{{shot.gasConfig.outer}}</td>
          <td>{{shot.outer_press}} psia</td>
          <td>{{shot.outer_timing}} &#181;s</td>
        {% endif %}
        {% if shot.gasConfig.inner %}
          <td>{{shot.gasConfig.inner}}</td>
          <td>{{shot.inner_press}} psia</td>
          <td>{{shot.inner_timing}} &#181;s</td>
        {% endif %}
        {% if shot.gasConfig.target %}
          <td>{{shot.gasConfig.target}}</td>
          <td>{{shot.target_press}} psia</td>
          <td>{{shot.target_timing}} &#181;s</td>
        {% endif %}
      </tr>
    </table>
    <table class='table table-bordered' style="color:#13294b;">
      <tr>
        <td>
          <h4>Current</h4>
          <div>{{shot.current}} kA</div>
        </td>
        <td>
          <h4>Peak Time</h4>
          <div>{{shot.current_time}} ns</div>
        </td>
        {% if shot.dip_time %}
        <td>
          <h4>Dip Time</h4>
          <div>{{shot.dip_time}}</div>
        </td>
        {% endif %}
        {% if shot.xrayDetector.all %}
        <td>
          <h4>X-Ray Time</h4>
          {% for xd in shot.xrayDetector.all %}
            {% if xd.peak_time %}
              {{xd.peak_time|floatformat:1}},
            {% else %}
              -
            {% endif %}
          {% endfor %}
        </td>
        {% endif %}
      </tr>
    </table>
  </div>
</div>

<div id="navigation"
   data-previous-url="{{ previous_url }}"
   data-next-url="{{ next_url }}"
   data-other-url=" {% url 'shot-detail' shot.pk %}?{{ request.GET.urlencode }} ">
</div>
<script src="{% static 'shots/navigation.js' %}"></script>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Select all images in the slideshow
    const images = document.querySelectorAll(".summary-image");

    images.forEach(image => {
      image.addEventListener("click", function () {
        const parent = this.parentElement;

        // Toggle fullscreen class
        if (parent.classList.contains("fullscreen")) {
          parent.classList.remove("fullscreen");
        } else {
          parent.classList.add("fullscreen");
        }
      });
    });
  });
</script>

{% endblock images %}
