{% extends "shots/base.html" %}
{% block top %}
<h1>
  <a href=" {{shot.get_absolute_url }} " style="color:#00629B">Shot {{shot.num}}</a>
</h1>
<h1>
  <a href=" {{shot.get_previous_summary_url }} " style="color:#13294b;"> < </a>
  <a href=" {{shot.get_next_summary_url }} " style="color:#13294b;"> > </a>
</h1>
{% endblock top %}
{% block images %}
{% for image in shot.xuvImage.all %}
<div id="xuv-image">
  <h3>MCP 2</h3>
  <br><img src="{{image.image.url}}" class="summary-image"><br>
</div>
{% endfor %}
{% endblock images %}
